.a1{
  background-color: grey;
  margin:2.5px;

  color: black;
  font-weight: bold;
  background: #D3CCE3;
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
background: linear-gradient(to right, #E9E4F0, #D3CCE3);

}
.a1:hover{
  color: black;

}
.a2{
  color: white;
  font-weight: bold;
}
.a3{
  margin-right: 10px;
  color: #880e4f;
}
.btn{
  border:0px;
  padding:0px;
}
.jumbotron{
background: #C33764;
background: -webkit-linear-gradient(to right, #1D2671, #C33764);
background: linear-gradient(to right, #1D2671, #C33764);
margin-bottom: 0px;
border-radius: 0px;
}
